body {
		background-color: #90c3d4;
}
h1 {
	font-family: Arial;
	font-size: 100px;
	text-align: right;
	background-color: #cccccc;
	color: #304f58;
	text-transform: uppercase;
	padding: 50px 40px 50px 300px;
	margin-top: 0px;
	background-image: url('img/background-title.png');
	background-repeat: no-repeat;
	background-position: -140px -30px;
}

section {
	width: 500px;
	margin: 0 auto;
	text-align: justify;
}

h2 {
	font-size: 28px;
	margin-top: 50px;
	font-family: Arial;
	color: #ffffff;
}

h3 {
	font-size: 24px;
	font-family: Arial;
}
footer {
	text-align: right;
	font-style: italic;
}
footer a {
	color: #a37c6f;
}

h2::first-letter {
	color: #788f96;
	font-size: 45px;
}
